.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  &-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      23deg,
      rgba(22, 177, 169, 1) 0%,
      rgba(47, 47, 47, 1) 100%
    );
    z-index: 2;
    transform: translateY(-100%);
    transition: transform 0.5s $cubic-bezier;
    &[data-toggle="true"] {
      transform: translateY(0);
      .animate {
        &-top {
          transform: translateY(0);
        }
      }
    }
    &-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      justify-content: center;
      &-item {
        margin-bottom: 2rem;
        transition: transform 0.5s $cubic-bezier;
        @include screen("md") {
          margin-bottom: 4rem;
        }
        @include screen("lg") {
          margin-bottom: 6rem;
        }
      }
      &-social {
        display: flex;
        height: 5rem;
        align-items: center;
        justify-content: space-around;
        max-width: 30rem;
        margin: 0 auto;
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;
      }
    }
    &-link {
      text-transform: uppercase;
      font-size: 2.4rem;
      line-height: 1;
      @include screen("md") {
        font-size: 4.4rem;
      }
      @include screen("lg") {
        font-size: 6.6rem;
      }
      @include screen("xl") {
        font-size: 8.8rem;
      }
    }
  }
}
.logo {
  position: relative;
  width: 13.5rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 3;
  &-line {
    width: 5.8rem;
    height: 0.8rem;
    background-color: $color-primary;
    position: absolute;
    z-index: -1;
    &:nth-child(1) {
      top: 0;
      left: 0.5rem;
    }
    &:nth-child(2) {
      top: 2.5rem;
      left: 3rem;
      transform: rotate(90deg);
    }
    &:nth-child(3) {
      top: 5rem;
      left: 0.5rem;
    }
    &:nth-child(4) {
      top: 2.5rem;
      left: -2rem;
      transform: rotate(90deg);
    }
  }
  &-link {
    display: block;
    color: #fff;
  }
  &-hand {
    padding-top: 1.5rem;
    font-size: 2.4rem;
    letter-spacing: -0.5rem;
    line-height: 1;
  }
  &-crafted {
    font-size: 1rem;
    letter-spacing: 0.4rem;
    margin-left: 2rem;
    font-weight: 400;
  }
}
.btn {
  &:focus {
    outline: none;
  }
  &-menu {
    z-index: 3;
    width: 6rem;
    height: 5rem;
    overflow: hidden;
    &:hover {
      .btn-menu-line {
        &:nth-child(1) {
          &:after {
            transform: translateX(130%);
          }
        }
        &:nth-child(2) {
          &:after {
            transform: translateX(-130%);
          }
        }
      }
    }
    &-line {
      display: block;
      width: 5.8rem;
      height: 0.5rem;
      background-color: $color-primary;
      transition: transform 0.5s $cubic-bezier,
        background-color 0.5s $cubic-bezier;
      position: relative;
      overflow: hidden;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: transform 1s $cubic-bezier;
      }
      &:nth-child(1) {
        margin-bottom: 1rem;
        &:after {
          transform: translateX(-130%);
        }
      }
      &:nth-child(2) {
        &:after {
          transform: translateX(130%);
        }
      }
    }
    &[aria-expanded="true"] {
      .btn-menu-line {
        background-color: #fff;
        &:after {
          background-color: $color-primary;
        }
        &:nth-child(1) {
          transform: translateY(1rem) rotate(45deg);
        }
        &:nth-child(2) {
          transform: translateY(-0.5rem) rotate(-45deg);
        }
      }
    }
  }
}
.animate {
  &-container {
    overflow: hidden;
  }
  &-top {
    display: block;
    transform: translateY(100%);
    transition: transform 1s 0.25s $cubic-bezier;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: -0.3rem;
      left: 0;
      bottom: 0;
      margin: auto;
      width: 0;
      height: 0.2rem;
      background-color: #fff;
      z-index: -1;
      transition: width 0.5s $cubic-bezier;
      @include screen("md") {
        height: 0.4rem;
        top: -0.4rem;
      }
      @include screen("xl") {
        height: 0.6rem;
      }
    }
    &-sm {
      &:after {
        height: 0.2rem;
      }
    }
    &:hover,
    &:focus {
      &:after {
        width: 100%;
      }
    }
  }
}
