html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  color: $color-text;
}
.font {
  &-xlt {
    font-weight: 200;
  }
  &-sb {
    font-weight: 600;
  }
  &-b {
    font-weight: 700;
  }
}
.text {
  &-center {
    text-align: center;
  }
}
.page {
  padding: 11.5rem 0;
  background: url("/background-projects.svg") no-repeat center/cover;
  &-404 {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  @include screen("sm") {
    max-width: 540px;
  }
  @include screen("md") {
    max-width: 768px;
  }
  @include screen("lg") {
    max-width: 960px;
  }
  @include screen("xl") {
    max-width: 1140px;
  }
}

.ReactModal__Overlay {
  z-index: 100;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background-color: rgba(33, 33, 33, 0.8) !important;
  &--after-open {
    opacity: 1;
  }
}
.ReactModal__Content {
  padding: 0 !important;
  transform: translateY(5rem);
  transition: transform 0.5s ease-in-out;
  border-radius: 0 !important;
  border: none !important;
  box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.3);
  background: url("/background-projects.svg") no-repeat center/cover !important;
  &--after-open {
    transform: translateY(0);
  }
  &--before-close {
    transform: translateY(5rem);
  }
  @include screen("lg") {
    top: 15% !important;
    left: 0 !important;
    right: 0 !important;
    bottom: auto !important;
    width: 960px;
    margin: auto;
  }
  @include screen("xl") {
    width: 1140px;
  }
}
body.ReactModal__Body--open {
  overflow: hidden;
}
