.projects {
  background: url("/background-projects.svg") repeat-y center/cover;
  &-heading {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
  }
  .card {
    width: 70%;
    margin: 3rem auto 0;
    max-width: 50rem;
    position: relative;
    color: #fff;
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.3);
    &-description {
      height: 2.2rem;
      position: absolute;
      top: 6rem;
      left: -2rem;
      margin: auto;
      text-shadow: 2px 2px 2px #333;
      text-transform: capitalize;
    }
    &-heading {
      font-size: 2rem;
      letter-spacing: 0.3rem;
      line-height: 1;
    }
    &-subheading {
      font-size: 2rem;
      line-height: 1;
    }
  }
}
